body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1f2937;
  padding: 50px 150px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.logo,
.hero-main {
  color: #f9faf8;
}

.logo {
  font-size: 24px;
}

.sub {
  color: #6c747d;
  font-size: 18px;
}

.hero-main {
  font-size: 48px;
  font-weight: bolder;
}

ul {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
}

img {
  max-height: 300px;
  width: 500px;
}

.left {
  width: 400px;
}

.button.adopt-now {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 12px;
  border-radius: 8px;
  border-style: solid;
  border-color: #3882f6;
}

.info-section {
  padding: 40px 150px;
}
.info-title,
.info {
  display: flex;
  justify-content: center;
}

.info-title {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  margin-bottom: 50px;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  margin-bottom: 150px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.info-pic {
  width: 180px;
  height: 150px;
  border: 5px solid #3882f6;
  border-radius: 8px;
}

.quote {
  padding: 40px 150px;
  background-color: #e5e7eb;
}

.saying {
  display: flex;
  flex-direction: column;
}

.actual-quote {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  margin-top: 100px;
  margin-right: 120px;
  margin-left: 120px;
}

.person {
  display: flex;
  justify-content: flex-end;
  margin-right: 170px;
  margin-bottom: 80px;
  font-size: 18px;
  color: #1f2937;
}

.call-to-action {
  padding: 100px 150px;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882f6;
  padding: 40px 80px;
  border-radius: 4px;
}

.cta-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cta-header {
  font-size: 18px;
  color: #f9faf8;
}

.cta-subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.button.cta {
  padding: 10px 20px;
  font-size: 18px;
  color: #f9faf8;
  background-color: #3882f6;
  margin-top: 12px;
  border-radius: 8px;
  border-color: #f9faf8;
  border-style: solid;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;

  height: 80px;
  background-color: #1f2937;
}

.footer-text {
  font-size: 18px;
  color: #e5e7eb;
}
