body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1f2937;
  padding: 50px 150px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.logo,
.hero-main {
  color: #f9faf8;
}

.logo {
  font-size: 24px;
}

.sub {
  color: #6c747d;
  font-size: 18px;
}

.hero-main {
  font-size: 48px;
  font-weight: bolder;
}

ul {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
}

img {
  max-height: 300px;
  width: 500px;
}

.left {
  width: 400px;
}

.button.sign-up {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 10px 40px;
  font-size: 18px;
  margin-top: 12px;
  border-radius: 8px;
}

/* .info-section { */

.info-title,
.info {
  display: flex;
  justify-content: center;
}

.info-title {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.info {
  display: flex;
  flex-direction: column;
}

.info-pic {
  width: 200px;
  height: 150px;
  border: 5px solid #3882f6;
  border-radius: 8px;
}
